* { 
    box-sizing: border-box;
}

body {  
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {    
    display: flex;
    flex-direction: column;
    padding: 8px;
}

nav {   
    justify-content: center;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

ul {    
    border: 1px solid darkorange;
    list-style-type: none;
    padding: 0;
}

li {    
    margin-bottom: 10px;
}

a { 
    text-decoration: none;
    color: darkorange;
}

.hero { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.hero p {   
    border: 1px solid black;
    font-size: 125%;
}

h1 {    
    font-size: 250%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {  
    display: flex;
    flex-direction: column;
    padding: 8px;
}

main h2 {   
    text-align: center;
}

.información-1, .información-2 {  
    justify-content: space-between;
    display: flex;
    padding: 8px;
}

.info { 
    padding: 8px;
    text-align: center;
}

.suscribirse {  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    gap: 10px;
}

.cita { 
    text-align: center;
    border: 1px solid black;
    font-size: 125%;
    color: blue;
}

footer {    
    display: flex;
    justify-content: space-between;
    padding: 8px;
}